<section class="edit-page">
  <div class="heading">
    <h2>Edit your education</h2>
    <button class="delete" (click)="deleteEducation()">
      <i class="pi pi-trash"></i>
    </button>
  </div>

  <div class="card">
    @if (educationId) {
      <ng-container *ngIf="education | async as education; else loading">
        <app-education-form [education]="education" />
      </ng-container>
      <ng-template #loading>loading ...</ng-template>
    } @else {
      <p>No education founded!</p>
    }
  </div>
</section>
