.edit-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-xl);
  padding: var(--space-default);
  max-width: 72rem;
  margin: auto;
}

.heading {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.delete {
  color: red;
}