@if (education) {
  <a [id]="education.id" href="/edit?id={{education.id}}" class="education">
    <img
      src="https://tr.rbxcdn.com/068b9a7d1dd9b6cc768cfc99b8cd16e7/150/150/Image/Png"
      alt="placeholder"
    />
    <div class="education_content">
      <div class="education_content_top">
        <h4>{{ education.fieldOfStudy }}</h4>
        <p>{{ education.schoolName}}</p>
      </div>
      <ul>
        <span>{{fromYear}} - {{toYear}}</span>
        <li>{{totalYears}} years</li>
        <li>{{ education.city }}</li>
      </ul>
      <p>{{ education.description }}</p>
    </div>
  </a>
}
